<!doctype html>
<html>
  <head>
  <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="img/logo.png"/>
    <title>Dr. Express - Login</title>
  </head>
        <body ng-app="login" ng-controller="LoginController">
        <!-- NAV -->
  <nav class="navbar fixed-top navbar-light bg-light navbar-expand-md">
        <button class="navbar-toggler reduzida" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        <a class="navbar-brand" href="index.html" >
          <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Dr. Express
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html">SERVIÇOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html">CONTATO</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="" ng-show="navLogin">LOGIN</a>
              </li>
            </ul>
        </div>  
  </nav>

        <form class="pag-log-cad">
        <div class="form-group container col-md-4">
            <div class="alert alert-danger" role="alert" ng-show="erro">
                Email e/ou senha errados!
              </div>
          <label for="InputEmail">E-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira e-mail" ng-model="email">
          <label for="InputSenha">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" ng-model="senha">
        </div>
  
          <div class="row">
          <button type="submit" class="btn btn-info col-md-4 offset-md-4 col-sm-6 offset-sm-3 loginbotao" ng-click="fazerLogin(email, senha)">Entrar</button>
          </div>
          <div class="row cadastrobotao">
          <a href="cadastro.html" class="btn btn-info col-md-4 offset-md-4 col-sm-6 offset-sm-3" role="button">Cadastro</a>
          </div>
        
          </form>

          <script>
          const app = angular.module('login', []);
            app.controller('LoginController', ($scope, $window) => {
                let dados = [
                  {
                      email: 'admin@drexpress.com',
                      senha: '123'
                  },
                  {
                    email: 'vinicius@drexpress.com',
                    senha: '123'
                  },
                  {
                    email: 'mauricio@drexpress.com',
                    senha: '123'
                  }
                ];

                $scope.autorizado = false;
                $scope.erro = false;
                $scope.navPerfil = false;
                $scope.navLogin = true;

                $scope.fazerLogin = (email, senha) => {
                    
                  for (let usuario of dados){
                    if( (email == usuario.email) && (senha == usuario.senha) ){
                        $scope.autorizado = true;
                        $window.location.href = 'perfil.html';
                        
                    }
                    else{
                        $scope.erro = true;
                    }
                  }
                }
            });
          
          
          </script>
        
        </body>
</html>